<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="robots" content="noydir, noodp">
  <meta name="description" content="Encontro Nacional de Estudantes de Multimédia 2019 - Coimbra">
  <meta name="keywords" content="enemm, encontro, nacional, estudantes, multimédia, 2019, coimbra">
  <meta name="author" content="ENEMM'19">

  <meta name="twitter:card" content="ENEMM'19" />
  <meta name="twitter:site" content="https://enemm.pt" />
  <meta name="twitter:creator" content="@neiaac" />
  <meta property="og:image" content="https://enemm.pt/assets/img/logo.svg" />
  <meta property="og:title" content="ENEMM'19" />
  <meta property="og:url" content="https://enemm.pt" />
  <meta property="og:type" content="website" />
  <link rel="canonical" href="https://www.enemm.pt">
  <link rel="icon" type="image/x-icon" href="assets/img/logo.ico">

  <title>ENEMM'19</title>

  <link href="assets/css/vars.css" rel="stylesheet" />
  <link href="assets/css/fonts.css" rel="stylesheet" />
  <link href="assets/css/navbar.css" rel="stylesheet" />
  <link href="assets/css/base.css" rel="stylesheet" />
  <link href="assets/css/index.css" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <div class="item header center">
        <a href="index.html"><h1>ENEMM'19</h1></a>
    </div>
    <div class="item navbar right">
      <div class="bs">
        <a href="about.html">Sobre</a>
        <a href="speakers.html">Oradores</a>
        <a href="schedule.html">Programa</a>
        <a href="ambassadors.html">Embaixadores</a>
        <a href="tickets.html">Bilheteira</a>
        <a href="faqs.html">FAQs</a>
      </div>
      <div class="ss">
        <div id="mySidenav" class="sidenav">
          <div class="lazy">
            <div class="menu_title center">
                <h1>ENEMM'19</h1>
            </div>
          </div>
          <div class="menu_links">
            <a href="about.html"><h1>Sobre</h1></a>
            <a href="speakers.html"><h1>Oradores</h1></a>
            <a href="schedule.html"><h1>Programa</h1></a>
            <a href="ambassadors.html"><h1>Embaixadores</h1></a>
            <a href="tickets.html"><h1>Bilheteira</h1></a>
            <a href="faqs.html"><h1>FAQs</h1></a>
          </div>
        </div>
        <div id="myMenuIcon" class="menuIcon" onclick="myFunction(this), openNav(this)">
          <div id="myMenuIcon1" class="bar1"></div>
          <div id="myMenuIcon2" class="bar2"></div>
          <div id="myMenuIcon3" class="bar3"></div>
        </div>
        <script>
          function myFunction(x) {
            x.classList.toggle("change");
          }
          function openNav() {
            document.getElementById("mySidenav").classList.toggle("sidenavtoogle");
            document.getElementById("myMenuIcon").classList.toggle("menuIcontooglePosition");
            document.getElementById("myMenuIcon1").classList.toggle("menuIcontoogle");
            document.getElementById("myMenuIcon2").classList.toggle("menuIcontoogle");
            document.getElementById("myMenuIcon3").classList.toggle("menuIcontoogle");
          }
        </script>
      </div>
    </div>
    <div class="item logo_info center">
        <img src="assets/img/logo.svg">
        <div class="top">
          <h1>Encontro Nacional<br/>Estudantes Multimédia</h1>
        </div>
        <div class="bottom">
          <div class="location">
            <h2>coimbra</h2>
          </div>
          <div class="date">
            <h2>1-4 de Março<br/>2019</h2>
          </div>
        </div>
      </div>
    <div class="item logo center">
      <img src="assets/img/logo.svg">
    </div>
    <div class="item info">
      <div class="top">
        <h1>Encontro Nacional<br/>Estudantes Multimédia</h1>
      </div>
      <div class="bottom">
        <div class="location">
          <h2>coimbra</h2>
        </div>
        <div class="date">
          <h2>1-4 de Março<br/>2019</h2>
        </div>
      </div>
    </div>
    <div class="item matrix">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square line-sc"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square hidden-sc"></div>
      <div class="square hidden-sc"></div>
      <div class="square hidden-sc"></div>
      <div class="square hidden-sc"></div>
      <div class="square hidden-sc"></div>
      <div class="square hidden-sc"></div>
      <div class="square hidden-sc"></div>
      <div class="square hidden-sc"></div>
      <div class="square hidden-sc"></div>
      <div class="square hidden-sc"></div>
      <div class="square hidden-sc"></div>
      <div class="square hidden-sc"></div>
      <div class="square hidden-sc"></div>
      <div class="square hidden-sc"></div>
      <div class="square line hidden-sc"></div>
    </div>
    <div class="item description">
       <h3>Sabes o que é o ENEMM?</h3>
       <p>O ENEMM - Encontro Nacional de Estudantes de Multimédia - é um evento que visa reunir anualmente os entusiastas da área da Multimédia, com principal foco nos estudantes do ensino superior dos cursos relacionados com Multimédia em Portugal.</p>
    </div>
    <div class="item hidden1"></div>
    <div class="item contact">
      <h3>Queres ficar a par de todas as novidades?</h3>
      <div class="social">
        <p>Segue-nos nas nossas redes sociais ou insere o teu email e recebe a nossa mailing list!</p>
        <div class="social-logos">
          <a href="https://www.facebook.com/enemm.multimedia" target="_blank">
            <img src="assets/img/facebook.svg">
          </a>
          <a href="https://www.instagram.com/enemm.multimedia" target="_blank">
            <img src="assets/img/instagram.svg" alt="">
          </a>
        </div>
      </div>
      <div class="mailing">
        <form action="https://enemm.us19.list-manage.com/subscribe/post-json?u=b6de72300788c2d567a4b1122&amp;id=92d7cd65ef&amp;c=?" method="get" target="_blank" class="mailchimp" id="mailchimp_form" novalidate>
          <input type="email" value="" name="EMAIL" class="email" placeholder="Insere o teu e-mail" required>
          <input type="submit" value="Subscrever" name="subscribe" class="button">
        </form>
      </div>
    </div>
    <div class="item callfortalk">
      <h3>Queres fazer parte do evento?</h3>
      <div class="mailing">
        <p>Tens um tema ou um orador que queres mesmo de ver no ENEMM? Sugere em baixo!</p>
        <!-- <%= render partial: 'talk_suggestion_form', locals: {talk_suggestion: @talk_suggestion} %> -->
      </div>
    </div>
    <div class="item secondmatrix">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square rectangle"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
    <div class="item hidden2"></div>
    <div class="item hidden3"></div>
    <div class="item hidden4"></div>
    <div class="item sponsor">
      <h3>Queres patrocinar o evento?</h3>
      <p>Carrega no botão e sabe mais!</p>
      <div class="subscribe-botton">
        <p>
          <!-- <%= link_to 'Documento de Apresentação.pdf', target: '_blank' do%> -->
            <input type="submit" value="Mais informação" name="subscribe" class="button">
          <!-- <% end %> -->
        </p>
      </div>
      <div class="mailing">
        <h3>Contacto</h3>
        <p>geral@enemm.pt</p>
      </div>
    </div>
    <div class="item footer right">
      <small>Made with ♥ by <a href="https://nei.dei.uc.pt" target="_blank">NEI/AAC</a></small>
    </div>
  </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125862664-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125862664-1');
  </script>
</body>
</html>
