html {
  font-family: Neue Montreal;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--color-gold);
  color: var(--color-gold);
}

body {
  height: 100%;
  margin: 0;
}

h1, h2, h3 {
  display: inline;
  margin: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-gold);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color-gold);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--color-gold);
}

textarea:focus, input:focus, a:focus {
    outline: none;
}

input[type=submit]:hover {
  cursor: pointer;
}

p {
  margin: 0;
}

a {
  color: var(--color-gold);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar .active {
  font-weight: 600;
  text-decoration: underline;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header {
  grid-area: header;
  padding: 0 2em;
}

.navbar {
  grid-area: navbar;
  height: 80px;
  align-items: center;
  padding-right: 2em;
}

.navbar a {
  margin-right: 1em;
}

.footer {
  grid-area: footer;
  align-items: center;
  padding: 2em;
}
