html {
  font-family: Neue Montreal;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--color-gold);
  color: var(--color-gold);
}

body {
  height: 100%;
  margin: 0;
}

h1, h2, h3 {
  display: inline;
  margin: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-gold);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color-gold);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--color-gold);
}

textarea:focus, input:focus{
    outline: none;
}

input[type=submit]:hover {
  cursor: pointer;
}
